<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper     
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mappers.Mapper">
	<insert id="insertBoard" parameterType="bvo">
		insert into tbl_board values (tbl_board_seq.nextval,#{title},
		#{content},#{writer},sysdate,#{viewcnt})
	</insert>
	
	<select id="listAll" resultType="bvo">
		select * from tbl_board
	</select>

	<select id="read" resultType="bvo">
		select bno, title, content, writer, regdate, viewcnt from tbl_board where bno=#{bno}
	</select>

	<update id="update">
		update tbl_board set title=#{title}, content=#{content} where bno=#{bno}
	</update>
	
	<delete id="delete">
		delete from tbl_board where bno=${bno}
	</delete>
	
	<select id="listPage" resultType="bvo" parameterType="java.util.Map">
	select * from (select rownum numrow, aa.* from (select * from tbl_board where bno>0 order by bno desc, regdate desc)aa)
	where numrow between #{startRow} and #{endRow}
	</select>
	
	<select id="countData" resultType="int">
	select count(*) from tbl_board
	</select>

	
</mapper>




















